.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text-black {
    color: black;
}
#carousel {
    background-color: #206659;
}

footer {
    background-color: black;
}
html {
    background-color: black;

}
