.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text-black {
    color: black;
}
header {
    background-color: #206659;
    color: white;
    text-align: center;
}
footer {
    background-color: black;
}
html {
    background-color: black;

}


@media screen and (max-width:500px) {
    .ztext {
        /*background-color: #a50101;*/
        background-color: black;
        color:white;
        padding: 1em 2em;
        margin-top: 1em;
    }
}

@media screen and (min-width:500px) {
    .ztext {
        /*background-color: #a50101;*/
        background-color: #1661eb;
        color:white;
        padding: 1em 2em;
        margin-top: 2em;
    }
}

@media screen and (min-width: 1200px) {
    .ztext {
        /*background-color: #a50101;*/
        background-color: #0440b1;
        color:white;
        padding: 1em 2em;
        margin-top: 3em;
    }
}
section {
    background-color: #ff325686;
    padding: 20px;
    margin: 0px;
}
#uvod-text{
    background-color: #ccd25686 !important;
    margin-top: 0px;
    padding: 2em 4em;
}
#anime-text{
    background-color: #ccd25686 !important;
    margin-top: 0px;
    padding: 2em 4em;
}
#kresleni-text{
    background-color: #ccd25686 !important;
    margin-top: 0px;
    padding: 2em 4em;
}
#hry-text{
    background-color: #ccd25686 !important;
    margin-top: 0px;
    padding: 2em 4em;
}
#programovani-text{
    background-color: #ccd25686 !important;
    margin-top: 0px;
    padding: 2em 4em;
}
#formuláře-text{
    background-color: #ccd25686 !important;
    margin-top: 0px;
    padding: 2em 4em;
}
#nazor1{
    margin-left: 1em;
    width: 95%;
}